<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Safe Travel">
  <meta name="keywords" content="Travel, Legal Travel, Travel Restriction, COVID19">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="icon" href="../public/images/logo.png">
  <title>Go Safe </title>
</head>

<body>
    <header>
      <img id="logo" src="../public/images/logo.png" alt="Logo of GoSafe">
    </header>
    
    <main>
      <p>
      This is the information on the country you selected.</p>
				<% @all_info.each do |info| %>
      <p> For event <%= info[:eventname] %>: <%= info[:info] %> The reference is: <%= info[:reference] %> </p>
      <% end %>
        </div>


      <footer>
        <br>
        GoSafe 2020 
        <br>
        <div id='image_licence'>
          Image by <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=841441" target="_blank">Free-Photos</a>
          from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=841441" target="_blank">Pixabay</a>  
        </div>
      </footer>
    </main>

</body>
</html>
